CH "Python Functions"

EX 1

In [1]:
def my_function():
  print("Hello from a function")

EX 2

In [3]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

EX 3

In [5]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

EX 4

In [7]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

EX 5

In [9]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

EX 6

In [11]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

EX 7

In [13]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

EX 8

In [15]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

EX 9

In [17]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

EX 10

In [19]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

EX 11

In [21]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

EX 12

In [23]:
def myfunction():
  pass

EX 13

In [25]:
def my_function(x, /):
  print(x)

my_function(3)

3

Ex 14

In [27]:
def my_function(x):
  print(x)

my_function(x = 3)

3

EX 15

In [29]:
def my_function(x, /):
  print(x)

my_function(x = 3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

EX 16

In [31]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

EX 17

In [33]:
def my_function(x):
  print(x)

my_function(3)

3

EX 18

In [35]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

EX 19

In [39]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

EX 20

In [41]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21