CH "Python Sets"

EX 1

In [1]:
myset = {"apple", "banana", "cherry"}

EX 2

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

EX 3

In [5]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

EX 4

In [7]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', 'apple', 2, 'banana', True}

EX 5

In [9]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{'cherry', 'apple', False, 'banana', True}

EX 6

In [11]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

EX 7

In [13]:
set1 = {"abc", 34, True, 40, "male"}

EX 8

In [15]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

EX 9

In [17]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

EX 10

In [19]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

EX 11

In [21]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

EX 12

In [23]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

EX 13

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

EX 14

In [27]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'banana', 'mango', 'papaya', 'pineapple'}

EX 15

In [29]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'orange', 'kiwi'}

EX 16

In [31]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

EX 17

In [33]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

EX 18

In [35]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

EX 19

In [37]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

EX 20

In [39]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

EX 21

In [41]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

EX 22

In [43]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

EX 23

In [45]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

EX 24

In [47]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'cherry', 1, 2, 3, 'apple', 'Elena', 'bananas', 'a', 'John', 'b', 'c'}

EX 25

In [49]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'cherry', 1, 2, 3, 'apple', 'Elena', 'bananas', 'a', 'John', 'b', 'c'}

EX 26

In [51]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

EX 27

In [53]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

In [ ]:
EX 28

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
EX 29

In [57]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [ ]:
EX 30

In [59]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
EX 31

In [61]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [ ]:
EX 32

In [63]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [ ]:
EX 33

In [65]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [ ]:
EX 34

In [67]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

EX 35

In [69]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

EX 36

In [71]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'microsoft', 'google'}

EX 37

In [73]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'banana', 'microsoft', 'google'}